[package]
name = "wavecraft-processors"
description = "Reusable processors for Wavecraft plugins"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
wavecraft-dsp.workspace = true
